* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background: rgb(231, 246, 255);
}

.wrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
  border-bottom: 1px solid rgb(234, 234, 234);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;

    .header__left {
      display: flex;
      align-items: center;

      img {
        margin-right: 15px;
      }
    }

    .header__right {
      ul {
        display: flex;
        list-style: none;
        align-items: center;
      }

      li {
        padding-left: 30px;

        img {
          cursor: pointer;
        }
      }
    }
  }

  .line {
    border: 1px solid rgb(234, 234, 234);
  }

  .wrapper__content {
    padding: 40px;
  }

  .wrapper__content__inner {
    display: flex;
    padding: 40px;
    justify-content: space-between;

    .wrapper__content__inner__input {
      padding-top: 13px;

      input {

        border: 1px solid #cecece;
        box-sizing: border-box;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 5px;
        overflow: hidden;
        width: 250px;
        height: 45px;
        box-sizing: border-box;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 10px;
        
        &:hover {
          background-color: white;
        }

        &:focus {
          box-shadow: 0 0 5px rgba(81, 203, 238, 1);
        }

      }
    }
  }

  .card__sneakers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    .card {
      border: 1px solid #f3f3f3;
      padding: 30px;
      width: 220px;
      border-radius: 40px;
      margin-right: 30px;
      margin-bottom: 30px;
      transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        
      }
      .card-header {
        img {
          cursor: pointer;
        }
      }

      .card-content___wrapper {
        display: flex;
        justify-content: space-between;

        .card-content___wrapper-price {
          span {
            color: gray;
          }
        }
      }

      .card-content__favorite {
        img {
          cursor: pointer;
        }
      }
    }
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .empty__basket {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;

      .empty__basket__wrapper {
        text-align: center;
        margin-bottom: 150px;
        
        h3 {
          padding: 10px
        }

        p {
          color: rgb(122, 122, 122);
          font-family: Inter;
          font-size: 16px;
          text-align: center;
        }

        button {
          border: 2px solid rgb(255, 255, 255);
          width: 245px;
          height: 55px;
          border-radius: 18px;
          background: rgb(157, 212, 88);
          margin: 40px;
          color: rgb(255, 255, 255);
          //Шрифт
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0%;
          text-align: center;
          cursor: pointer;

          &:hover {
            background-color: wheat;
          }
        }
      }
    }

    .basket-line {
      width: 167px;
      height: 1px;
      box-sizing: border-box;
      border: 1px dashed rgb(223, 223, 223);
    }

    .drawer {
      box-shadow: -10px 4px 24px 0px rgba(0, 0, 0, 0.1);
      background: rgb(255, 255, 255);
      position: absolute;
      width: 385px;
      height: 1059px;
      right: 0;
      padding: 40px;

      .drawer__content {
        margin-top: 40px;
        box-sizing: border-box;
        border: 1px solid rgb(243, 243, 243);
        border-radius: 20px;
        background: rgb(255, 255, 255);
        padding: 40px;

        img {
          width: 50px;
          height: 30px;
        }
      }
      .drawer__close__btn {
        margin-bottom: 40px;

        button {
          border: 2px solid rgb(255, 255, 255);
          width: 100px;
          height: 45px;
          border-radius: 18px;
          background: rgb(157, 212, 88);
          color: rgb(255, 255, 255);
          //Шрифт
          font-family: Inter;
          font-size: 16px;
          font-weight: 600;
          cursor: pointer;
  
          &:hover {
            background-color: wheat;
          }
  
        }
      }
      .overlay__footer {
        list-style: none;
      }

    }
  }

}